services:
  - type: web
    name: mushroom-web
    env: python
    plan: free
    buildCommand: "pip install -r requirements.txt && python manage.py collectstatic --noinput --clear --verbosity=2"
    startCommand: "./start.sh"
    envVars:
      - key: DEBUG
        value: "False"
      - key: SECRET_KEY
        generateValue: true
      - key: ALLOWED_HOSTS
        value: "mushguard.onrender.com,*.onrender.com,localhost,127.0.0.1"
      - key: BREVO_API_KEY
        value: "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"
      - key: DEFAULT_FROM_EMAIL
        value: "MushGuard <carlsulla05@gmail.com>"
      - key: DATABASE_URL
        fromDatabase:
          name: mushguard-db
          property: connectionString

databases:
  - name: mushguard-db
    databaseName: mushguard
    user: mushguard
    plan: free
